<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar bar-maristapp">
            <ion-nav-title>
                <h1 class="title">MaristApp</h1>
            </ion-nav-title>

            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon"  style="color:white !important;" menu-toggle="left">
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="header-maristapp">
            <img id="imglogin" src="./img/destacada.jpg">
        </ion-header-bar>
        <ion-content class="has-header my-menu">
            <ion-list>
                <ion-item class="item item-icon-left" nav-clear menu-close ng-href="#/app/cursos">
                    <img src="./img/oracion.png" class="icon ion-person"> <span> Oración de la mañana</span>
                </ion-item>
                <ion-item class="item item-icon-left" nav-clear menu-close ng-href="#/app/evangelio">
                    <img src="./img/evangelio.png" class="icon ion-person"> <span> Evangelio del día</span>
                </ion-item>
                <ion-item class="item item-icon-left" nav-clear menu-close ng-href="#/app/login">
                    <img src="./img/lema.png" class="icon ion-person"> <span> Lema anual</span>
                </ion-item>
                <ion-item class="item item-icon-left" nav-clear menu-close ng-href="#/app/quienessomos">
                    <img src="./img/somos.png" class="icon ion-person"> <span> Quiénes somos</span>
                </ion-item>
                <ion-item class="item item-icon-left" nav-clear menu-close ng-href="#/app/buscador">
                    <img src="./img/buscador.png" class="icon ion-person"> <span> Buscador</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
