
#wrapper {
    margin: 5%;
}

pre {
    background: none;
    width: 100%;
    max-width: 100%;
    overflow-x:none;
    white-space: pre-wrap;
    word-break: normal;
}
/* Login Section */
div#headerlogin {
    width: 100%;
    padding-right: 25%;
    padding-left: 25%;
    margin-top: 25%;
    margin-bottom: 10%;
}

img#imglogin {
    width: 100%;
}

button.button.button-maristapp {
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    color: white;
    background-color: rgb(231,183,214);
    min-height: 10px !important;
    line-height: 30px;
    border: none;
}

.menulogin {
    margin-top: 10%;
}

.inputmaristapp {
    border-bottom: 2px solid #E7B7D6 !important;
    width: 100%;
    text-align: center;
}

/* Menu Section */

.bar-maristapp {
    border-color: #FDC3E9;
    background-color: #E7B7D6;
    background-image: linear-gradient(0deg, #E7B7D6, #E7B7D6 50%, transparent 50%);
    color: #fff;
}

.bar-maristapp .title {
    color: #fff;
}

.header-maristapp {
    padding: 0px;
    height: 25%;
}

.my-menu {
    top: 25%;
}

.icon {
    top: auto !important;
    height: 50% !important;
}
/* Bienvenida Section */

#header {
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}


#contenedor {
    color: lightgray
}

#contenedor h4{
    color: darkgray;
    text-align: center;
    margin-bottom: 10%;
}
/* Evangelio Section */

.full {
    width: 100%;
    height: 100%;
}

.scroll {
    height: 100%;
}

/* Cursos Section */

.buttoncursos {
    width: 80%;
    border-radius: 10px;
    border: 2px solid;
}

.cursos {
    text-align: center;
    margin: 5px;

}

/* BUSCAR Section */

.list {
    margin-top: 20px;
}
